main#main-content {
  padding-inline: 0.5rem;
  display: grid;
  row-gap: 1rem;
  > h1 {
    margin: 0;
  }
  div#languages {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
    @media (max-width: 890px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 740px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 620px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 420px) {
      grid-template-columns: 1fr;
      gap: 1rem;
    }

    > div.language {
      > ul {
        list-style-type: none;
        padding: 0;
        > li {
          white-space: nowrap;
          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
