/node_modules
/public/storage
/vendor
/.idea
/.phpunit.cache
Homestead.json
Homestead.yaml
.env
.orig
langfiles.zip
npm-debug.log
# The Files created by Webpack in the build process
/public/**/*.css
!/public/fonts/arimo/stylesheet.css
!/public/fonts/liberationsans/stylesheet.css
/public/**/*.js
/public/mix-manifest.json
public/**/*.LICENSE.txt

**/*.map
/.buildpath
/.project

local.log

browserstack.err
.npm
.composer
.phpunit.result.cache
