&.amount {
  > ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 0.5rem;
    > li {
      cursor: pointer;

      border: 1px solid @color-light-grey;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.1rem;
      &.grow-x {
        grid-column: span 3;
      }
      &.custom-amount {
        padding: 0;
        display: none;
        > form {
          display: grid;
          grid-template-columns: 1fr auto;
          height: 100%;
          > input[type="number"] {
            background-color: @background-color;
            color: @text-color;
            padding: 1rem;
            border: 0;
            border-radius: 5px;
            font-size: 1.1rem;
            &:focus {
              outline: 0;
            }
          }
          > button {
            border: 0;
            border-radius: 5px;
            border-left: 1px solid @color-light-grey;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
      &.custom-amount-switch {
        display: grid;
        place-content: stretch;
        padding: 0;
        > label {
          margin: 0;
          padding: 1rem;
          cursor: pointer;
        }
      }
      > a {
        display: block;
        color: @text-color;
        padding: 1rem;
      }
    }
    > input[type="checkbox"] {
      display: none;
      &:checked + li.custom-amount {
        display: block;
      }
      &:checked + li.custom-amount + li.custom-amount-switch {
        display: none;
      }
    }

    @media (max-width: 450px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  > #other {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    gap: 5rem;

    > div {
      background-color: @highlightcolor;
      padding: 1rem;
      border-radius: 15px;
      h3 {
        font-size: clamp(1rem, 4.5vw, 1.2rem);
      }
      &#bank-transfer {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 10rem;
        grid-template-rows: auto 1fr;
        place-items: center;
        white-space: nowrap;
        > h3 {
          grid-column: span 2;
          white-space: nowrap;
          text-align: center;
        }
        > .bankaccount {
          display: grid;
          margin: 0;
        }
        > .qr {
          display: grid;
          width: 10rem;
          > a {
            color: inherit;
            overflow: hidden;
            &:hover {
              color: inherit;
            }
          }
        }
      }
      &#membership-hint {
        display: grid;
        grid-template-rows: repeat(3, max-content);
        place-content: center;
        gap: 1rem;
        > h3 {
          margin: 0;
          text-align: center;
          white-space: nowrap;
        }
        > a:hover {
          color: inherit;
        }
      }
    }

    @media (max-width: 910px) {
      flex-direction: column;
      gap: 1rem;
      > div#bank-transfer {
        grid-template-columns: 1fr 1fr;
      }
    }

    @media (max-width: 520px) {
      > div#bank-transfer {
        grid-template-columns: 1fr;
        > h3 {
          grid-column: auto;
        }
        > div.qr {
          width: 100%;
          max-width: 200px;
        }
      }
    }
  }
}
